.banner {
    width: 500px;
    height: 120px;
    background-color:
}
header {
    height: 150px;
    width: 90%; /* Ancho del 90% del contenedor padre */
    background-color: #1E90FF;
    margin: 0 auto; /* Centrar horizontalmente en el contenedor padre */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio uniforme entre elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 0 20px; /* Espaciado interno */
}

.rec_logo {
    width: 230px;
    height: 120px;
    background-color: #87CEEB;
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 120px; /* Altura de línea igual a la altura del logo */
    display: block; /* Mostrar como bloque */
}

/* Estilos de la barra de navegación */
nav {
    height: 50px; /* Altura de la barra de navegación */
    width: 90%; /* Ancho del 90% del contenedor padre */
    background-color: #800080;
    margin: 0 auto; /* Centrar horizontalmente en el contenedor padre */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio uniforme entre elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 0 20px; /* Espaciado interno */
}

main {
    height: auto;
    width: 90%;
    background-color: #9932CC;
    margin: 0 auto; /* Centrar horizontalmente en el contenedor padre */
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio uniforme entre elementos */
    padding: 0 20px; /* Espaciado interno */
}

article {
    width: 450px;
    height: 300px;
    background-color: #FFD700;
    padding: 20px; 
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: normal; /* Altura de línea normal */
    display: flex; 
    justify-content: space-between; /* Espacio uniforme entre elementos */
    padding: 10px; /* Espaciado interno */
}
aside {
    width: 300px; /* Ancho del aside */
    height: 300px; /* Altura del aside */
    background-color: #FFD700; /* Color de fondo del aside (amarillo) */
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    order: 1;
}

/* Estilos del pie de página */
footer {
    height: 50px; /* Altura del pie de página */
    width: 90%; /* Ancho del 90% del contenedor padre */
    background-color: #008000; /* Color de fondo del pie de página (verde oscuro) */
    padding: 0 20px;
    margin: 0 auto;
}
